@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');

body {
    margin: 0;
    padding: 0;
    background-image: url('./home.jpeg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 85vh;
}

.title {
    margin-bottom: 20px;
    font-family: 'Shadows Into Light', Arial, serif;
    font-size: 65px;
    font-weight: 600;
}

.text-container {
    margin-top: 20px;
    font-family: 'Inter', Arial, serif;
    font-size: 30px;
}

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

label {
    margin-right: 10px;
}

input {
    padding: 8px;
    font-size: 16px;
    width: 250px;
}

button {
    margin-left: 10px;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Inter', Arial, serif;
}

.suggestions {
    width: 268px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    font-size: 11.5px;
    font-family: 'Inter', Arial, serif;
    margin-right: 99.5px;
    position: absolute;
    margin-top: 471px;
    top: -60px;
}

.suggestions div {
    cursor: pointer;
    padding: 8px;
}

.suggestions div:hover {
    background-color: #f0f0f0;
}